.signin-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card{
  max-width: 400px;
  box-sizing: border-box; 
}

.form-element {
  width: 100%;
  margin-bottom: 1em;
}

mat-card-content,mat-card-actions{
  margin-top:25px;
}
.submit-button{
  margin-top:15px;
}
.mat-foooter{
  font-size:13px;
}



::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
