<div class="signin-div">
  <mat-card [ngClass]="'mat-elevation-z8'">
    <mat-card-header>
      <mat-card-title>
        Sign In
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSignin(formGroup.value)" class="form">
        <mat-form-field floatLabel="never" class="form-element" appearance="standard">
          <mat-label>Username</mat-label>
          <mat-icon matSuffix>person</mat-icon>
          <input name = "email" type="text" matInput placeholder="Email Address" formControlName="email">
          <mat-error *ngIf="formGroup.controls['email'].invalid">
            {{getError('email')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="form-element" appearance="standard">
          <mat-label>Password</mat-label>
          <mat-icon matSuffix>lock</mat-icon>
          <input type="password" matInput placeholder="Password" formControlName="password" >
          <mat-error *ngIf="!formGroup.controls['password'].valid">
            {{getError('password')}}
          </mat-error>
        </mat-form-field>

        <div class="form-element submit-button">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">SIGN IN</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="mat-foooter">
       Not a member?
          <a routerLink="/signup">Sign up now</a>
    </mat-card-actions>
  </mat-card>
</div>

