<div fxLayout="column" class="control-layout">
  <mat-label class="custom-label">Select {{ label }}</mat-label>
  <mat-form-field floatLabel="never" class="form-element" appearance="outline">
    <mat-chip-list #chipList aria-label="Dropdown selection">
      <mat-chip *ngFor="let item of items" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>

      <input placeholder="Select or Add {{ label }}" #itemInput matInput class="form-element-input layout flex"
        [formControl]="itemCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete class="autocomplete" #auto="matAutocomplete" (optionSelected)="selected($event)">
      <cdk-virtual-scroll-viewport itemSize="45" minBufferPx="360" maxBufferPx="360" class="virtual-scroll">
      <mat-option *cdkVirtualFor="let item of filteredItems | async" [value]="item">
        {{item}}
      </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
  </mat-form-field>
</div>