.mat-menu-item:hover, .mat-list-item:hover{
  color: rgb(234, 15, 168);
}
.mat-menu-item:hover .mat-icon{
  color: rgb(234, 15, 168);
}
.mat-toolbar {
  height: 2.5em;
  position: sticky;
  top: 0; 
  z-index: 10; 
}

.mat-list-item, .mat-menu-item {
  height: auto;
}

.bell-icon{
margin-right:20px!important;
display: inline-block;
vertical-align: bottom;
}


.logout{
  display: inline-block;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}

 



