/* =========================================================================*/
/* C U S T O M    S T Y L E    D E F I N I T I O N S                        */
/* Component: Navbar                                                        */
/* =========================================================================*/
/*Menu Items Style */
.mat-menu-item:hover, .mat-list-item:hover{
  color: rgb(234, 15, 168);
}
.mat-menu-item:hover .mat-icon{
  color: rgb(234, 15, 168);
}
.mat-toolbar {
  height: 2.5em;
  position: sticky;
  top: 0; 
  z-index: 10; 
}

.mat-list-item, .mat-menu-item {
  height: auto;
}


/* Notification Styles */
.bell-icon{
margin-right:20px!important;
display: inline-block;
vertical-align: bottom;
}

/* Logout Styles */
.logout{
  display: inline-block;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}

 



