<div class="basic-container">
  <mat-toolbar color="primary">
   
   <!-- Home Button -->
   <button mat-button routerLink="/home">
     <mat-icon>home</mat-icon> 
     TMS
   </button>

    <!-- Questions Menu -->
    <button mat-button [matMenuTriggerFor]="questions">Questions</button>
    <mat-menu #questions="matMenu">
      <button mat-menu-item>View Questions</button>
      <button mat-menu-item>Add Questions</button>
      <button mat-menu-item>Update Questions</button>
      <button mat-menu-item>Delete Questions</button>
    </mat-menu>

    <!-- Logout Menu -->
    <span class="logout">
      <span class="bell-icon">
        <mat-icon>notifications_none</mat-icon>
      </span>
      <button mat-mini-fab matTooltip="Vamsi Mallempalli" [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value" color="accent">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet>