
.question-add-div {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card{
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}
.mat-card-content{
margin-left: 2em;
}
.mat-card-header{
    display: flex;
}

.fill {
  flex: 1;
}

.question-add-form {
  min-width: 150px;
  max-width: 100em;
  width:100%;
  font-size: 12px;
}

.form-element, .question-editor {
  width: 100%;
  /* margin-bottom: .50em; */
}

.ques-err{
  font-size: 11px;
}

.control-layout{
  margin-top: 2em;
} 

.form-element-tags, 
.form-element-skills
{
  max-width: 20em;
  min-width: 10em;
}

.form-element-complexity{
  width: 165px;
  height: 40px;
}

.mat-button-toggle-checked {
  background-color:#3F51B5 !important;
  color: #ffffff !important;
}
.mat-icon-button{
  font-size:11px;
}

.question-editor, .answer-editor{
margin-top: 2em;
max-width: 70rem;
}

.answer-div{
  margin-top: 2em;
}

.custom-label{
  /* margin-top: em; */
  margin-left: 8px;
  font-size: 12px;
}

.mat-tab-label {
    font-weight: 700;
    font-size: 11px;
}

.answer-group{
  margin-top: 1em;
  margin-bottom: 2em;
}

.form-element-option,
.form-element-answer,
.form-element-correct,
.form-element-delete
{
 margin-right:2em;
 padding-bottom: 0em;
}

.form-element-answer{
  margin-bottom: 4em;
}

.form-element-option{
  max-width: 4em;
  margin-left:1em;
}

.form-element-answer{
  width: 30%;
  height: 1em;
}

.descriptive-answer,
.answer-explantion
{
  width:100%;
}

.oneword-answer{
  width:15em;
}

.choice-div {
  /* display: inline-block;
  width: 80%; */
  border-style:ridge;
  border-width:thin;
  margin-bottom: 1em;
}

.add-button{
  margin-bottom: 0em;
  margin-left: 3em;
}

.delete-icon, .add-icon{
  font-size: 1.5em;
}

.progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.form-element-answer{
  height:5px;
}

.mat-chip{
  border-radius: 2px !important;
  font-size: 12px;
  padding: 1px 8px !important;
  margin: 0px 0px 0px 0px;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }



