<div *ngIf="!loadingData; else loading" class="question-div">
    <mat-card [ngClass]="'mat-elevation-z8'">
        <mat-card-header>
            <mat-card-title>
                Questions
            </mat-card-title>
            <div class="fill"></div>
            <button mat-button color="primary" routerLink="/add-question">
                <mat-icon>add</mat-icon>
                New Question
            </button>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill class="search-section">
                <div class="filter-headline" fxFlex="20">
                    <button mat-icon-button disabled class="filter-button">
                        <mat-icon>filter_list</mat-icon>Filter & Refine
                    </button>
                </div>
                <div fxFlex="60">
                    <mat-chip-list #chipList>
                        <div *ngFor="let item of filterTypes">
                            <mat-chip *ngIf="item.checked" [selectable]="selectable" [removable]="true"
                                (removed)="onFilterChange(item,false)">
                                {{item.value}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                    <mat-chip-list #chipList>
                        <div *ngFor="let item of filterComplexities">
                            <mat-chip *ngIf="item.checked" [selectable]="selectable" [removable]="true"
                                (removed)="onFilterChange(item,false)">
                                {{item.value}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                    <mat-chip-list #chipList>
                        <div *ngFor="let item of filterTags">
                            <mat-chip *ngIf="item.checked" [selectable]="selectable" [removable]="true"
                                (removed)="onFilterChange(item,false)">
                                {{item.value}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                    <mat-chip-list #chipList>
                        <div *ngFor="let item of filterSkills">
                            <mat-chip *ngIf="item.checked" [selectable]="selectable" [removable]="true"
                                (removed)="onFilterChange(item,false)">
                                {{item.value}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                        </div>
                    </mat-chip-list>
                    <mat-chip-list *ngIf="filterSelectedStatus != 'All'" #chipList>
                        <mat-chip [selectable]="selectable" [removable]="true" (removed)="onFilterStatusChange('All')">
                            {{filterSelectedStatus}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div fxFlex="20">
                    <mat-form-field class="form-search" floatPlaceholder="never" appearance="outline">
                        <input matInput #filter placeholder="Search Questions" (keyup)="onSearch($event.target.value)">
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider> </mat-divider>

            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="20">
                    <mat-accordion class="filter-panel">
                        <mat-expansion-panel [ngClass]="'mat-elevation-z0'">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-title">
                                    Type
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <cdk-virtual-scroll-viewport itemSize="50" class="filter-item filter-questionType">
                                <div *cdkVirtualFor="let type of filterTypes" class="type">
                                    <mat-checkbox class="filter-type" [checked]="type.checked" [value]="type.value" #c
                                        (change)="onFilterChange(type,c.checked)">{{type.value}}</mat-checkbox>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-expansion-panel [ngClass]="'mat-elevation-z0'">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-title">
                                    Complexity
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <cdk-virtual-scroll-viewport itemSize="5" class="filter-item filter-questionComplexity">
                                <div *cdkVirtualFor="let complexity of filterComplexities" class="type">
                                    <mat-checkbox class="filter-type" [checked]="complexity.checked"
                                        [value]="complexity" #c (change)="onFilterChange(complexity,c.checked)">
                                        {{complexity.value}}</mat-checkbox>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-expansion-panel [ngClass]="'mat-elevation-z0'">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-title">
                                    Status
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <cdk-virtual-scroll-viewport itemSize="5" class="filter-item filter-questionStatus">
                                <mat-radio-group>
                                    <div *cdkVirtualFor="let status of filterStatus" class="type">
                                        <mat-radio-button class="filter-type"
                                            [checked]="status.value === filterSelectedStatus" [value]="status"
                                            (change)="onFilterStatusChange(status.value)">{{status.value}}
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                        <mat-divider [inset]="true"></mat-divider>

                        <mat-expansion-panel [ngClass]="'mat-elevation-z0'">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-title">
                                    Tags
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <cdk-virtual-scroll-viewport itemSize="5" class="filter-item filter-questionComplexity">
                                <div *cdkVirtualFor="let tag of filterTags" class="type">
                                    <mat-checkbox class="filter-type" [checked]="tag.checked" [value]="tag.value" #c
                                        (change)="onFilterChange(tag,c.checked)">{{tag.value}}</mat-checkbox>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-expansion-panel [ngClass]="'mat-elevation-z0'">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="mat-title">
                                    Skills
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <cdk-virtual-scroll-viewport itemSize="5" class="filter-item filter-questionComplexity">
                                <div *cdkVirtualFor="let skill of filterSkills" class="type">
                                    <mat-checkbox class="filter-type" [checked]="skill.checked" [value]="skill.value" #c
                                        (change)="onFilterChange(skill,c.checked)">{{skill.value}}</mat-checkbox>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div fxFlex="80" [ngClass]="'mat-elevation-z4'">
                    <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc"
                        matclass="mat-cell">
                        <!-- <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [style.opacity]="row.show || selection.isSelected(row) ? 100 : 0">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="id" class="mat-column">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="stmt">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div style="word-wrap: break-word;">
                                    <p class="mat-body-1">{{row.stmt}} </p>
                               <p class="mat-caption">Type:{{row.type}} Complexity: {{row.complexity}} Status: {{row.status}}</p>
                                
                            </div>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>
                            </mat-header-cell>

                            <mat-cell *matCellDef="let row; let i=index;">
                                <button mat-icon-button
                                    [style.opacity]="row.show || selection.isSelected(row) ? 100 : 0"
                                    [routerLink]="['/view-question', row.id]">
                                    <mat-icon aria-label="View">open_in_new</mat-icon>
                                </button>
                                <button mat-icon-button
                                    [style.opacity]="row.show || selection.isSelected(row) ? 100 : 0"
                                    [routerLink]="['/edit-question', row.id]">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </button>

                                <button mat-icon-button
                                    [style.opacity]="row.show || selection.isSelected(row) ? 100 : 0"
                                    (click)="onDelete(row.id, row.stmt)">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="onMouseOver(row)"
                            (mouseleave)="onMouseLeave(row)">
                        </mat-row>
                    </mat-table>
                    <div fxLayout="row" class="control-layout">
                        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 50, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #loading>
    <div class="progress-spinner">
        <mat-progress-spinner diameter=50 mode="indeterminate" color="accent">
        </mat-progress-spinner>
    </div>
</ng-template>