<div class="container mat-elevation-z8">
    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
    </div>
    <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <!-- Select Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
             <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
             </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
             <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
         </td>
        </ng-container>
        
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="competency">
            <mat-header-cell *matHeaderCellDef mat-sort-header>competency</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.competency}}</mat-cell>
        </ng-container>-->

        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Text</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.text}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" routerLink="/add-question">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent"
                    (click)="startView(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                    <mat-icon aria-label="View">view</mat-icon>
                </button>
                <button mat-icon-button color="accent"
                    (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[1, 2, 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>